.filterForm {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  width: 300px;
  padding: 16px;
}

.filterForm p {
  margin: 0 0 8px 0;
}

.filterForm input {
  width: 80%;
  padding: 4px;
}
